<section class="section container">
  <h3 class="text-teal-500 text-3xl text-center mb-10">
    مرحبا بكم في خدمة العقد الالكتروني لصيانة الكاميرات الأمنية
  </h3>
  <h5 class="text-white text-lg mb-5">الشروط والأحكام:</h5>
  <ol type="I" class="list-inside list-roman pr-5 flex flex-col gap-3">
    @for (item of items; track item.id) {
    <li>{{ item.title }}</li>
    }
  </ol>
  <div class="pt-10">
    <form [formGroup]="agreementForm" (ngSubmit)="onSubmit()">
      <div class="flex gap-5 mb-5">
        <input
          name="termsAndConditions"
          type="checkbox"
          class="w-5 h-5 rounded"
          formControlName="termsAndConditions"
        />
        <label for="terms-and-conditions" class="text-white"
          >أوافق على هذه الشروط والأحكام وبقية الشروط والأحكام.</label
        >
      </div>
      <div class="flex gap-5">
        <input
          name="privacyPolicy"
          type="checkbox"
          class="w-5 h-5 rounded"
          formControlName="privacyPolicy"
        />
        <label for="privacy-policy" class="text-white"
          >أوافق على سياسة الإسترجاع والخصوصية.</label
        >
      </div>
      <div class="mt-10 w-full h-0.5 bg-teal-500"></div>
      @if(errorMessage) {
      <div
        class="mt-10 rounded bg-rose-700 text-white py-5 container text-center"
      >
        {{ errorMessage }}
      </div>
      }

      <div class="pt-10 flex justify-center">
        <button type="submit">استمرار</button>
      </div>
    </form>
  </div>
</section>
